@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'poppins';
    font-size: 20px;
}

.container {
    /* text-align: center; */
    padding: 33px;
}

.inp {
    text-align: center;
    padding: 20px;
}

.title {
    margin: 20px;
    margin-left: 100px;
    /* height: 30px; */
}

.title input {
    border: 2px rgb(183, 177, 174) solid;
    border-radius: 26px;
    height: 50px;
    width: 250px;
}

.sku {
    margin: 20px;
    margin-left: -10px;
    /* height: 30px; */
}

.sku input {
    border: 2px rgb(154, 150, 148) solid;
    border-radius: 26px;
    height: 50px;
    width: 250px;
}

.price {
    margin: 20px;
    margin-left: -10px;
    /* height: 30px; */
}

.price input {
    border: 2px rgb(154, 150, 148) solid;
    border-radius: 26px;
    height: 50px;
    width: 250px;
}

.quantity {
    margin: 20px;
    margin-left: 100px;
    /* height: 30px; */
}

.quantity input {
    border: 2px rgb(130, 128, 128) solid;
    border-radius: 26px;
    height: 50px;
    width: 250px;
}

.links {
    text-decoration: none;
}

/* From Uiverse.io by satyamchaudharydev */
button {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    /* display: flex; */
    cursor: pointer;
    transition: 0.3s background;
    align-items: center;
    padding: 16px;
    font-weight: bold;
}

button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

button:hover {
    background-color: var(--hover-color);
}

button:hover .arrow {
    background: var(--secondary-color);
}

button:hover .arrow:before {
    right: 0;
}